{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block context %}
    <div class="page-section bg-primary">
        <div class="container page__container">
            <div class="hero text-center pb-64pt">
                <h1 class="text-white">Upgrade</h1>
                <p class="text-white-50 lead measure-hero-lead mx-auto">Change your future today with over 1.000
                    professional courses from the top industry leading teachers and professionals.</p>
            </div>
            <div class="row card-group-row mb-16pt mb-lg-40pt">
                <div class="col-lg-4 col-sm-6 card-group-row__col">

                    <div class="card card-group-row__card text-center o-hidden card--raised border-0">

                        <span class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">Start</span>

                        <div class="card-body d-flex flex-column">
                            <div class="flex-grow mb-16pt">
                                        <span class="w-64 h-64 icon-holder icon-holder--outline-accent rounded-circle d-inline-flex mb-16pt">
                                            <i class="material-icons">person</i>
                                        </span>
                                <h4 class="mb-8pt">Student</h4>
                                <p class="text-70 mb-0">Access to over 1.000 high quality courses. For individuals.</p>
                            </div>
                            <p class="d-flex justify-content-center align-items-center m-0">
                                <span class="h4 m-0 font-weight-normal">&dollar;</span>
                                <span class="h1 m-0 font-weight-normal">9</span>
                                <span class="h4 m-0 font-weight-normal">/ month</span>
                            </p>
                            <p class="lh-1 text-muted mb-0"><small>after the free trial ends</small></p>
                        </div>
                        <div class="card-footer">
                            <a href="fixed-signup.html" class="btn btn-accent">Get started</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6 card-group-row__col">

                    <div class="card card-group-row__card text-center o-hidden border-0">

                        <div class="card-body d-flex flex-column">
                            <div class="flex-grow mb-16pt">
                                        <span class="w-64 h-64 icon-holder icon-holder--outline-secondary rounded-circle d-inline-flex mb-16pt">
                                            <i class="material-icons">group</i>
                                        </span>
                                <h4 class="mb-8pt">Team</h4>
                                <p class="text-70 mb-0">Starts with 3 accounts with more seats available.</p>
                            </div>
                            <p class="d-flex justify-content-center align-items-center m-0">
                                <span class="h4 m-0 font-weight-normal">&dollar;</span>
                                <span class="h1 m-0 font-weight-normal">19</span>
                                <span class="h4 m-0 font-weight-normal">/ month</span>
                            </p>
                            <p class="lh-1 text-muted mb-0"><small>after the free trial ends</small></p>
                        </div>
                        <div class="card-footer">
                            <a href="fixed-signup.html" class="btn btn-outline-secondary">Get started</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6 card-group-row__col">

                    <div class="card card-group-row__card text-center o-hidden border-0">

                        <div class="card-body d-flex flex-column">
                            <div class="flex-grow mb-16pt">
                                        <span class="w-64 h-64 icon-holder icon-holder--outline-secondary rounded-circle d-inline-flex mb-16pt">
                                            <i class="material-icons">business_center</i>
                                        </span>
                                <h4 class="mb-8pt">Enterprise</h4>
                                <p class="text-70 mb-0">Build customized learning paths with content that aligns to your
                                    internal learning goals.</p>
                            </div>
                            <p class="d-flex justify-content-center align-items-center m-0">
                                <span class="h4 m-0 font-weight-normal">&dollar;</span>
                                <span class="h1 m-0 font-weight-normal">49</span>
                                <span class="h4 m-0 font-weight-normal">/ month</span>
                            </p>
                            <p class="lh-1 text-muted mb-0"><small>after the free trial ends</small></p>
                        </div>
                        <div class="card-footer">
                            <a href="fixed-signup.html" class="btn btn-outline-secondary">Get started</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="page-headline page-headline--white page-headline--title text-center">
                <h2 class="text-white">All plans include</h2>
            </div>

            <div class="col-lg-8 mx-auto">
                <div class="row">
                    <div class="col-sm-6 mb-24pt mb-sm-0">
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center mb-8pt">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">24h Access to PRO Courses</span>
                            </li>
                            <li class="d-flex align-items-center mb-8pt">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">Join 2000+ Community Members</span>
                            </li>
                            <li class="d-flex align-items-center mb-8pt">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">Access to New Courses Weekly</span>
                            </li>
                            <li class="d-flex align-items-center mb-8pt">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">Support from our Tutors</span>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">Assets Included per Course</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center mb-8pt">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">24h Access to PRO Courses</span>
                            </li>
                            <li class="d-flex align-items-center mb-8pt">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">Join 2000+ Community Members</span>
                            </li>
                            <li class="d-flex align-items-center mb-8pt">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">Access to New Courses Weekly</span>
                            </li>
                            <li class="d-flex align-items-center mb-8pt">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">Support from our Tutors</span>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="text-white-20 material-icons mr-8pt">check</span>
                                <span class="text-white-70">Assets Included per Course</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include 'base/feedback.html' %}

    {% include 'base/faq.html' %}
{% endblock %}
