{% load static %}

<!-- Bootstrap -->
<script src="{% static 'assets/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>

<!-- Perfect Scrollbar -->
<script src="{% static 'assets/vendor/perfect-scrollbar.min.js' %}"></script>

<!-- DOM Factory -->
<script src="{% static 'assets/vendor/dom-factory.js' %}"></script>

<!-- MDK -->
<script src="{% static 'assets/vendor/material-design-kit.js' %}"></script>

<!-- Fix Footer -->
<script src="{% static 'assets/vendor/fix-footer.js' %}"></script>

<!-- App JS -->
<script src="{% static 'assets/js/app.js' %}"></script>