{% load static %}

<div class="nav-item dropdown dropdown-notifications dropdown-xs-down-full" data-toggle="tooltip"
     data-title="Messages" data-placement="bottom" data-boundary="window">
    <button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown" data-caret="false">
        <i class="material-icons icon-24pt">mail_outline</i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <div data-perfect-scrollbar class="position-relative">
            <div class="dropdown-header"><strong>Messages</strong></div>
            <div class="list-group list-group-flush mb-0">

                <a href="javascript:void(0);" class="list-group-item list-group-item-action unread">
                    <span class="d-flex align-items-center mb-1">
                        <small class="text-black-50">5 minutes ago</small>
                        <span class="ml-auto unread-indicator bg-accent"></span>

                    </span>
                    <span class="d-flex">
                        <span class="avatar avatar-xs mr-2">
                            <img src="{% static 'assets/images/people/110/woman-5.jpg' %}" alt="people"
                                 class="avatar-img rounded-circle">
                        </span>
                        <span class="flex d-flex flex-column">
                            <strong class="text-black-100">Michelle</strong>
                            <span class="text-black-70">Clients loved the new design.</span>
                        </span>
                    </span>
                </a>

                <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                    <span class="d-flex align-items-center mb-1">
                        <small class="text-black-50">5 minutes ago</small>
                    </span>
                    <span class="d-flex">
                        <span class="avatar avatar-xs mr-2">
                            <img src="{% static 'assets/images/people/110/woman-5.jpg' %}" alt="people"
                                 class="avatar-img rounded-circle">
                        </span>
                        <span class="flex d-flex flex-column">
                            <strong class="text-black-100">Michelle</strong>
                            <span class="text-black-70">🔥 Superb job..</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>