{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block context %}
    <div class="navbar navbar-light border-0 navbar-expand-sm" style="white-space: nowrap;">
        <div class="container page__container flex-column flex-sm-row">
            <nav class="nav navbar-nav">
                <div class="nav-item py-16pt py-sm-0">
                    <div class="media flex-nowrap">
                        <div class="media-left mr-16pt">
                            <a href="fixed-student-take-course.html"><img
                                    src="{% static 'assets/images/paths/angular_64x64.png' %}" width="40" alt="Angular"
                                    class="rounded"></a>
                        </div>
                        <div class="media-body d-flex flex-column">
                            <a href="fixed-student-take-course.html" class="card-title">Angular Fundamentals</a>
                            <div class="d-flex">
                                <span class="text-50 small font-weight-bold mr-8pt">Elijah Murray</span>
                                <span class="text-50 small">Software Engineer and Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <ul class="nav navbar-nav ml-sm-auto align-items-center align-items-sm-end d-none d-lg-flex">
                <li class="nav-item active ml-sm-16pt">
                    <a href="" class="nav-link">Video</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Downloads</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Notes</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Discussions</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bg-primary pb-lg-64pt py-32pt">
        <div class="container page__container">
            <nav class="course-nav">
                <a data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Introduction"
                   href=""><span class="material-icons">check_circle</span></a>
                <a data-toggle="tooltip" data-placement="bottom"
                   data-title="Getting Started with Angular: Introduction to TypeScript" href=""><span
                        class="material-icons text-primary">account_circle</span></a>
                <a data-toggle="tooltip" data-placement="bottom"
                   data-title="Getting Started with Angular: Comparing Angular to AngularJS" href=""><span
                        class="material-icons">play_circle_outline</span></a>
                <a data-toggle="tooltip" data-placement="bottom" data-title="Quiz: Getting Started with Angular"
                   href="fixed-student-take-quiz.html"><span class="material-icons">hourglass_empty</span></a>
            </nav>
            <div class="js-player bg-primary embed-responsive embed-responsive-16by9 mb-32pt">
                <div class="player embed-responsive-item">
                    <div class="player__content">
                        <div class="player__image"
                             style="--player-image: url({% static 'assets/images/illustration/player.svg' %})"></div>
                        <a href="" class="player__play bg-primary">
                            <span class="material-icons">play_arrow</span>
                        </a>
                    </div>
                    <div class="player__embed d-none">
                        <iframe class="embed-responsive-item"
                                src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap align-items-end mb-16pt">
                <h1 class="text-white flex m-0">Introduction to TypeScript</h1>
                <p class="h1 text-white-50 font-weight-light m-0">50:13</p>
            </div>

            <p class="hero__lead measure-hero-lead text-white-50 mb-24pt">JavaScript is now used to power backends,
                create hybrid mobile applications, architect cloud solutions, design neural networks and even control
                robots. Enter TypeScript: a superset of JavaScript for scalable, secure, performant and feature-rich
                applications.</p>

            <a href="" class="btn btn-white">Resume lesson</a>
        </div>
    </div>

    {% include 'course/snippets/course_info.html' %}

    <div class="page-section">
        <div class="container page__container">
            <div class="d-flex align-items-center mb-heading">
                <h4 class="m-0">Discussions</h4>
                <a href="{% url 'course:course-question' %}" class="text-underline ml-auto">Ask a Question</a>
            </div>

            <div class="border-top">

                <div class="list-group list-group-flush">

                    <div class="list-group-item p-3">
                        <div class="row align-items-start">
                            <div class="col-md-3 mb-8pt mb-md-0">
                                <div class="media align-items-center">
                                    <div class="media-left mr-12pt">
                                        <a href="" class="avatar avatar-sm">
                                            <!-- <img src="LB" alt="avatar" class="avatar-img rounded-circle"> -->
                                            <span class="avatar-title rounded-circle">LB</span>
                                        </a>
                                    </div>
                                    <div class="d-flex flex-column media-body media-middle">
                                        <a href="" class="card-title">Laza Bogdan</a>
                                        <small class="text-muted">2 days ago</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-8pt mb-md-0">
                                <p class="mb-8pt"><a href="{% url 'course:course-question-answer' %}" class="text-body"><strong>Using
                                    Angular HttpClientModule instead of HttpModule</strong></a></p>


                                <a href="fixed-discussion.html" class="chip chip-outline-secondary">Angular
                                    fundamentals</a>


                            </div>
                            <div class="col-auto d-flex flex-column align-items-center justify-content-center">
                                <h5 class="m-0">1</h5>
                                <p class="lh-1 mb-0"><small class="text-70">answers</small></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a href="{% url 'course:course-discussion' %}" class="btn btn-outline-secondary">See all discussions for this lesson</a>
        </div>
    </div>
{% endblock %}
