<ul class="sidebar-menu">
                        <li class="sidebar-menu-item active">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">code</span>
                                <span class="sidebar-menu-text">Web Development</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">brush</span>
                                <span class="sidebar-menu-text">Design</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">settings_cell</span>
                                <span class="sidebar-menu-text">iOS &amp; Swift</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">android</span>
                                <span class="sidebar-menu-text">Android</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">business_center</span>
                                <span class="sidebar-menu-text">Business</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">crop_original</span>
                                <span class="sidebar-menu-text">Photography</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">payment</span>
                                <span class="sidebar-menu-text">Marketing</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">store</span>
                                <span class="sidebar-menu-text">eCommerce</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">redeem</span>
                                <span class="sidebar-menu-text">Health &amp; Fitness</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="" class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">music_note</span>
                                <span class="sidebar-menu-text">Music</span>
                            </a>
                        </li>
                    </ul>