<div class="sidebar-block">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck11"
                                       checked="">
                                <label class="custom-control-label" for="filtersCheck11">All</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck12">
                                <label class="custom-control-label" for="filtersCheck12">Episode</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck13">
                                <label class="custom-control-label" for="filtersCheck13">Video</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck14">
                                <label class="custom-control-label" for="filtersCheck14">Article</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck15">
                                <label class="custom-control-label" for="filtersCheck15">Book</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck16">
                                <label class="custom-control-label" for="filtersCheck16">Screencast</label>
                            </div>
                        </div>
                    </div>