<div class="d-flex flex-column flex-sm-row align-items-sm-center mb-24pt"
                         style="white-space: nowrap;">
                        <small class="flex text-muted text-headings text-uppercase mr-3 mb-2 mb-sm-0">Displaying 4 out
                            of 10 courses</small>
                        <div class="w-auto ml-sm-auto table d-flex align-items-center mb-2 mb-sm-0">
                            <small class="text-muted text-headings text-uppercase mr-3 d-none d-sm-block">Sort by</small>

                            <a href="#" class="sort desc small text-headings text-uppercase">Newest</a>

                            <a href="#" class="sort small text-headings text-uppercase ml-2">Popularity</a>

                        </div>

                        <a href="#" data-target="#library-drawer" data-toggle="sidebar"
                           class="btn btn-sm btn-white ml-sm-16pt">
                            <i class="material-icons icon--left">tune</i> Filters
                        </a>

                    </div>