<div class="sidebar-block">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck01"
                                       checked="">
                                <label class="custom-control-label" for="filtersCheck01">All</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck02">
                                <label class="custom-control-label" for="filtersCheck02">Archive</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck06">
                                <label class="custom-control-label" for="filtersCheck06">Unity</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck03">
                                <label class="custom-control-label" for="filtersCheck03">Web</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck04">
                                <label class="custom-control-label" for="filtersCheck04">iOS &amp; Swift</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck05">
                                <label class="custom-control-label" for="filtersCheck05">Android</label>
                            </div>
                        </div>
                    </div>