<div class="sidebar-block">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck07"
                                       checked="">
                                <label class="custom-control-label" for="filtersCheck07">All</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck08">
                                <label class="custom-control-label" for="filtersCheck08">Free</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck09">
                                <label class="custom-control-label" for="filtersCheck09">Beginner</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="filtersCheck10">
                                <label class="custom-control-label" for="filtersCheck10">Advanced</label>
                            </div>
                        </div>
                    </div>